PORT=3000
APP_URL=https://example.com
# APP_URL=localhost
ADMIN_PASSWORD=MockPassword123!
ADMIN_EMAIL=admin@example.com
ADMIN_PHONE=+1234567890
MODE=dev
ALLOWED_ORIGIN=https://client.example.com 
CLIENT_URL=https://client.example.com
# ALLOWED_ORIGIN=http://localhost:4000
# CLIENT_URL=http://localhost:4000
# cookie config
COOKIE_SECRET=mock-cookie-secret-key-32-chars-long-session-key
SESSION_SECRET=mock-session-secret-key-32-chars-long-session-key
SESSION_NAME=session_auth      # Name of the session cookie
#SESSION_DOMAIN=localhost       # Domain where the cookie is valid
SESSION_DOMAIN=example.com       # Domain where the cookie is valid

SESSION_MAX_AGE=86400000       # Session lifespan in ms (e.g., 1 day)
SESSION_HTTP_ONLY=false        # If set to true it prevents client-side JS from accessing the cookie
SESSION_SECURE=false           # Send cookie only over HTTPS (set to true in prod)
SESSION_FOLDER=sessions_dev:   # Path for storing session data (if file-based)
SESSION_SAME_SITE=lax          # Controls whether the browser sends cookies along with cross-site requests. 

DATABASE_USER=mockuser
DATABASE_PASSWORD=mockpassword123
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_DB=mock_database
DATABASE_SYNC=true
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DB}

REDIS_PASSWORD=mockredis123
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://default:mockredis123@localhost:6379
GRPC_URL=localhost:50051

TWILO_SID=MOCKtwilioaccountid1234567890abcdef
TWILO_TOKEN=MOCKtwiliotoken1234567890abcdef1234567890
TWILO_PHONE=+1234567890
TWILO_WHATSAPP_PHONE=+1234567890

POSTMAN_API_KEY=MOCK-postman-api-key-32-chars-long-key
POSTMAN_COLLECTION_ID=mock-collection-id-1234567890

SMTP_HOST=smtp.example.com
SMTP_FROM=noreply@example.com
SMTP_USER=mockuser@example.com
SMTP_PORT=587
SMTP_PASSWORD=mock-smtp-password-32-chars-long-key

JWT_SECRET_KEY=mock-jwt-secret-key-32-chars-long-mock-key
JWT_EXPIRE_AT=3600s